@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
  scroll-behavior: smooth;
}
body {
  background-color: #111;
}

::-webkit-scrollbar {
  display: none;
}

#tasklist::-webkit-scrollbar {
  display: none;
}
#allTask::-webkit-scrollbar {
  display: none;
}
/* .scrollbar-thin::-webkit-scrollbar {
  width: 4px;
} */
